body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
  background: linear-gradient(to right, #FFF, #000)
  
}

.gradiant1 {  
   background: linear-gradient(to right, #44cc66, #22aa44); 
}

.gradiant2 {  
  background: linear-gradient(to right, rgb(135,134,27), #dddd22);
}

.gradiant3 {  
  background: linear-gradient(to right, rgb(168,37,9), #dd4444);
}

  
.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;

}

.indifferent {
  background-color: #dddd22;
  box-shadow:  -1px 1px rgb(135,134,27), -2px 2px rgb(135,134,27), -3px 3px rgb(135,134,27), -4px 4px rgb(135,134,27), -5px 5px rgb(135,134,27);
  border: 1px solid rgb(135,134,27);
}

.dubious {
  background-color: #dd4444;
  box-shadow:  -1px 1px rgb(168,37,9), -2px 2px rgb(168,37,9), -3px 3px rgb(168,37,9), -4px 4px rgb(168,37,9), -5px 5px rgb(168,37,9);
  border: 1px solid rgb(168,37,9);
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
}

.med {
  width: 203.5%;
}

.large {
  width: 303%;
}

img { 
  border:1px red solid; 
  box-sizing:border-box;
}